// colors
$background: #F8F8F8;
$logoblue: #3FA9F5;
$primary: #4625E8;
$secondary: #4564FF;

$darkgray: #CECECE;
$lightgrey: #E5E5E5;

// text
$navtext: #FFFFFF;

// color text
$header: #000000;
$textcolor: #666666;

// var's
$font: Helvetica, sans-serif;
$content: 0 35px;
$radius: 15px;