input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #000014 inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000014;
}

h1, h2, h3, h4, h5, h6, p, a, button {
  margin: 0;
  line-height: 1.5;
  font-weight: inherit;
  color: #fff;
}

p {
  line-height: 1.6;
  font-size: 1.05em;
  font-weight: 400;
  color: #8f8f8f;
}

h1 {
  font-size: 3.5em;
  line-height: 1;
}

h2 {
  font-size: 3em;
  line-height: 1.1;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: .9em;
  letter-spacing: 1px;
}

img {
  margin-bottom: 60px;
  width: 500px;
}

.center-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.title {
  max-width: 600px;
}

.desc, b {
  margin: 20px auto;
  max-width: 500px;
  padding: 0 10px;
}

.notify-btn {
  -webkit-appearance: initial;
  padding: 13px 35px;
  border-radius: 50px;
  border: 2px solid #20A0CD;
  color: #fff;
  background: #20A0CD;
}

.notify-btn:hover {
  background: none;
}

.email {
  width: 230px;
  padding: 13px;
  border-radius: 50px;
  border: 2px solid #20A0CD;
  color: #fff;
  background: none;
}

.icons {
  text-align: center;
  margin-top: 40px;
  bottom: 10px;
  width: 100%;
}

.socialIcons img {
  height: 30px;
  width: 30px;
  opacity: 0.3;
  filter: alpha(opacity=30);
  margin-right: 10px;
}

.icons img {
  position: relative;
  display: inline;
  margin-right: 0 auto;
  margin-left: 0 auto;
}

.socialIcons img:hover {
  opacity: 1;
}

.error {
  color: red;
  padding-top: 16px;
}

/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
  p {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.8em;
    line-height: 1;
  }
  h2 {
    font-size: 2.2em;
    line-height: 1.1;
  }
  h3 {
    font-size: 1.8em;
  }
  img {
    margin-bottom: 80px;
    width: 425px;
  }
}

/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 576px) {
  body {
    font-size: 12px;
  }
}

/* Screens Resolution : 359px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 466px) {
  body {
    font-size: 10px;
  }
  img {
    margin-bottom: 50px;
    width: 350px;
  }
  .email {
    padding: 10px;
    width: 200px;
  }
  .notify-btn {
    padding: 10px 15px;
  }
  .socialIcons img {
    height: 20px;
    width: 20px;
  }
}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 380px) {
  body {
    font-size: 10px;
  }
  img {
    margin-bottom: 50px;
    width: 300px;
  }
  .email {
    width: 180px;
  }
}

@media only screen and (max-width: 330px) {
  body {
    font-size: 10px;
  }
  img {
    margin-bottom: 50px;
    width: 250px;
  }
  .email {
    padding: 8px;
    width: 140px;
  }
  .notify-btn {
    padding: 8px 10px;
  }
}
/*# sourceMappingURL=styles.css.map */