// TTL - TokenToLine
//
//            ,#╬▒╖                                                                
//          ╓δ╬╬╬╬╬▒╦                                                              
//        ╓╬╬╬╬╬╬╬╬╬╬╬╦                                                            
//      ╔╬╬╬╬╬╬╜ ╙╬╬╬╜ ╔╗                                                          
//    φ╬╬╬╬╬╬╜ ▄█▄   ╔╬╬╬╬▒                                                        
// ,#╬╬╬╬╬╬╙ ▄█████▌  ╚╬╬╬╬╬▒╖                                                     
// ╙╬╬╬╬╬╬╓ ╙███████▀ ╓╫████▌▒▓██▄ ╔█ ,█M]████ █▌  █ ████▄ ▌██▌  █   ]█ █▌  █ ▄███▌
//   ╙╬╬╬╬╬╬╦ ╙███▀  ╬╬╬╬██╩ █▌  ██╢███' ╟█▌▌▄ ███j█  ▓█  █▌  ▓█j█   ╟█ ███ █ ██▌▌▄
//     ╙╬╬╬╬╬╬▒   ╔╬╦ ╙╬╠▓█  ██▄▄█▀╢█ ██▄╟█▄▄▄ █m╩██  ▓█  ██▄▄█▌j█▄▄▄╟█ █▄╙██ ██▄▄▄
//        ╝╬╬╬╬╬▒╬╬╬╬╬#   '    ╙╙   ┘  '┘ ┴┴┴┴ ┴   ┴   └    ╙╙   ┴┴┴┘ ┴ ┘   ┴ '┴┴┴└
//          ╚╬╬╬╬╬╬╬╝      ▀██▀╙▀█▀Γ█µ                                             
//            ╙╬╬╬╩         ▓▌   █  █µ                                             
//              `           ╙└   ╜  ╙╜╜╜                                           
//                                                
// var's
@import "color.scss";

// basic
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: $font;
  overflow-x: hidden;
}

.blockscroll{
  overflow-x: hidden;
}

body {
  background-color: $background;
  width: 100%;
}

html{
  background-color: $primary;
}

.content {
  padding: $content;
  min-height: 400px;
  
  h1, h2, h3, h4, h5, h6 {
    color: $header;
    font-size: 32px;
    font-weight: 400;
    margin: 50px 0;
  }

  h1:after, h2:after, h3:after {
    content: "";
    display: block;
    margin: 15px 0;
    width: 170px;
    height: 3px;
    background: $darkgray;
    position: absolute;
  }

  p, a, ul {
    font-size: 19px;
    color: $textcolor;
    margin: 15px 0;
  }

  ul {
    margin-left: 20px;
  }
}

.warning {
  background-color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  p {
    font-size: 12.5px;
    padding: 2px;
    text-decoration: none;
  }
}

// header style
header {
  background-color: $primary;
  position: relative;

  p {
    color: $navtext;
    padding-bottom: 5px;
  }

  h4 {
    color: $navtext;
    opacity: 75%;
    text-align: center;
    font-size: 50px;
    padding: 20px 0;
  }

  hr{
    opacity: 75%;
    border: 2px solid;
    color: $navtext;
  }
  
  .topnav {
    overflow: hidden;
    background-color: $primary;
    position: relative;
  }
  
  .topnav a {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav .buy{
    background-color: $secondary;
    border-radius: 5px;
    margin-right: 55px;
    padding: 5px;
    width: 150px;
    text-align: center;
    font-size: 15px;
  }

  i.fa.fa-bars {
    margin-top: -12px;
    font-size: 35px;
  }
  
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 30px;
    height: 20px; 
  }

  img {
    width: 135px;
  }

  .block{
    display: none;
  }

  .nav {
    margin-top: -10px;
    width: 100%;
    height: 1900px;
    padding: 0 25px;
    background-color: $primary;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
    display: block!important;
    text-align: right;
    a {
      padding: 7px;
      font-weight: 500;
      font-size: 35px;
    }
    p {
      font-size: 20px;
      color: $lightgrey;
      padding: 15px 10px 5px 0;
      margin-bottom: -5px;
    }
    ul{
      float: right;
      width: 80px;
      padding-right: 10px;
    }
    li {
      list-style-type: none;
      float: left;
      width: 40px;
      padding: 0;
      height: 40px;
      a, i {
        font-size: 30px;
      }
    }
  }
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
  margin-bottom: -0.5px;
}

.banner {
  background-color: $primary;
}

.bannercontent{
  padding: 0 30px;
  height: 325px;
  max-width: 1200px;
  margin: auto;
  h1{
    padding-top: 50px;
    color: $navtext;
    max-width: 300px;
  }
  img{
    margin-left: auto;
    margin-top: -65px;
    display: block;
    width: 275px;
    margin-right: -20px;
  }
}

.contract {
  position: relative;
  margin-top: 50px;
  width: 250px;
  height: 35px;
  border-radius: 5px;
  background-color: $secondary;
  overflow: hidden;
  a {
    position: absolute;
    padding: 9px 0 0 10px;
    color: $navtext;
    text-decoration: none;
  }
}

// responsive text
.column {
  float: left;
  width: 45%;
}

.column.last{float: right;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

// companies style
.companies img {
  width: 130px;
}

.containercompanies {
  background-color: #E5E5E5;
  padding: 25px 35px;
  margin: 50px 0;
}

.companies {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
}

.div1 {width: 130px;}
.div2 {width: 130px;}
.div3 {width: 130px;}
.div4 {width: 130px;}

// img text style
.container1 img {
  width: 100%;
  display: block;
  padding: 10px 0;
  max-width: 400px;
  margin: auto;
}

// team style
.team {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  img {
    width: 100%;
    background-color: $lightgrey;
    border-radius: $radius $radius 0 0;
  }
  .text{
    background-color: $darkgray;
    border-radius: 0 0 $radius $radius;
    padding: 1px 20px;;
    margin-top: -10px;
    position: relative;
    min-height: 110px;
    h6 {
      font-size: 20px;
      margin-top: 10px;
    }
    ul {
      margin-top: -30px;
      font-size: 15px;
    }
  }
}
  
.person1 {grid-area: 1 / 1 / 2 / 2;}
.person2 {grid-area: 1 / 2 / 2 / 3;}
.person3 {grid-area: 2 / 1 / 3 / 2;}
.person4 {grid-area: 2 / 2 / 3 / 3;}
.person5 {grid-area: 3 / 1 / 4 / 2;}
.person6 {grid-area: 3 / 2 / 4 / 3;}
  
// support
.beamlink {
  display: block;
  max-width: 350px;
}
.beam {
  position: relative;
  max-width: 350px;
  height: 35px;
  border-radius: 5px;
  background-color: $secondary;
  overflow: hidden;
  margin-bottom: 50px;
  p {
    margin-top: 0px;
    position: absolute;
    padding: 6px 0 0 10px;
    color: $navtext;
    text-decoration: none;
  }
  .blockicon {
    position: absolute;
    width: 50px;
    height: 100%;
    background-color: $primary;
    right: 0;
    i {
      position: absolute;
      color: $navtext;
      text-align: center;
      display: block;
      margin-left: 14px;
      margin-top: 9px;
    }
  }
}

.beamlogo {
  position: relative;
  max-width: 350px;
  height: 80px;
  border-radius: 5px;
  background-color: $lightgrey;
  overflow: hidden;
  margin-bottom: 50px;
  img {
    padding: 6px 0 0 10px;
    height: 70px;
  }
  .blockicon {
    position: absolute;
    width: 45px;
    height: 100%;
    margin-top: -80px;
    background-color: $primary;
    right: 0;
    i {
      position: absolute;
      color: $navtext;
      text-align: center;
      display: block;
      margin-left: 12px;
      margin-top: 30px;
    }
  }
}

.road {
  margin: 35px 0 35px 40px;
  width: 70%;
  background-color: $darkgray;
  border-radius: $radius;
  padding: 20px;
  h5 {
    margin-top: -20px;
    font-size: 20px;
    font-weight: 350;
  }
  p {
    margin-top: -10px;
    text-align: right;
    margin-bottom: 0;
  }
}

.lastroad {
  margin-top: 135px;
}

.road::before {
  position: relative;
  left: -74px;
  display: block;
  background: $lightgrey;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  content: "";
  top: 10px;
}

.line {
  border-left: 4px solid $lightgrey;
  margin-left: 5px;
}

.whitepaper {
  border: 20px $primary solid;
  border-radius: $radius;
  padding-bottom: 0px;
  height: 600px;
}

.token {
  margin-bottom: 100px;
  a {
    text-decoration: none;
    font-size: 15px;
  }
  .beamlink {
    margin-bottom: -30px;
  }
}

.error{
  color: red;
  padding-top: 16px;
}

.notify-btn{
  -webkit-appearance: initial;
  width: 100px;
  height: 35px;
  margin-left: -25px;
  border-radius: 0 5px 5px 0;
  border: 2px solid $primary;
  color: #fff;
  background: $primary;
}

.email{
  width: 250px;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid $primary;
  color: $textcolor;
  background: transparent;
}

i.github-text-link.fa-brands.fa-github {
  font-size: 25px;
}

// Footer style
footer {
  margin-top: 50px;
  background-color: $primary;
  height: 210px;
  hr{
    margin-top: 50px;
    opacity: 75%;
    border: 2px solid;
    color: $navtext;
  }
  img{
    width: 145px;
  }
  h4 {
    color: $lightgrey;
    font-weight: 300;
    font-size: 15px;
    width: 155px;
  }
  ul {
    li{
      list-style-type: none;
        a{
        font-weight: 100;
        font-size: 15px;
        color: $background;
        list-style-type: none;
        text-decoration: none;
        line-height: 25px;
        i {
          font-size: 25px;
        }
      }
    }
    li:first-of-type{
      width: 100%;
      color: $darkgray;
      padding-bottom: 10px;
    }
  }
}

.footercontainer {
  max-width: 1200px;
  margin: auto;
  padding: 20px 10px 0 15px;
}

footer .footer-middel {
  float: right;
  width: 110px;
}

footer .footer-right {
  float: right;
  width: 70px;
  ul{
    width: 70px;
  }
  li {
    float: left;
    width: 35px;
    padding: 1.5px 0;
  }
}

.footer-middel, .footer-right {
  margin-top: -100px;
}

// ======================================== //
//                                          //
//              responsive                  //
//                                          // 
// ======================================== //

@media screen and (min-width: 576px) {
  .banner{
    h1 {max-width: 350px;}
    img{
      width: 300px;
      margin-right: -20px;
      margin-top: -60px;
    }
    .contract {margin-top: 0px;}
  }

  .team {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .person1 {grid-area: 1 / 1 / 2 / 2;}
  .person2 {grid-area: 1 / 2 / 2 / 3;}
  .person3 {grid-area: 1 / 3 / 2 / 4;}
  .person4 {grid-area: 2 / 1 / 3 / 2;}
  .person5 {grid-area: 2 / 2 / 3 / 3;}
  .person6 {grid-area: 2 / 3 / 3 / 4;}

  .div2 {width: 180px;}
  .div4 {width: 180px;}
  
  .companies img {
    width: 180px;
  }
}

@media screen and (min-width: 768px) {
  .content{padding: 0 100px;}
  .companies {padding: 25px 100px;}

  .banner {
    padding: 0 70px;
    img {
      width: 310px;
      margin-top: -90px;
    }
  }
  
  header {
    .topnav {
      a.icon {right: 20px;}
    }
    img {
      margin-left: 20px;
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 991px) {
  .column {width: 100%;}
  .lasthidden {display: none;}
}

@media screen and (min-width: 992px) {
  // blocking part
  .team {grid-template-rows: repeat(1, 1fr);}
  .hidden {display: none;}

  // styling
  .banner {
    height: 400px;
    img{
      width: 450px;
      margin-top: -135px;
    }
    .contract {
      width: 400px;
      height: 50px;
      a {
        font-size: 25px;
      }
      .blockicon {
        width: 60px;
        i {
          zoom: 150%;
          margin-left: 13px;
          margin-top: 9px;
        }
      }
    }
  }

  .team {grid-template-columns: repeat(4, 1fr);}

  .person1 {grid-area: 1 / 1 / 2 / 2;}
  .person2 {grid-area: 1 / 2 / 2 / 3;}
  .person3 {grid-area: 1 / 3 / 2 / 4;}
  .person4 {grid-area: 1 / 4 / 2 / 5;}
  .person5 {grid-area: 2 / 1 / 3 / 2;}
  .person6 {grid-area: 2 / 2 / 3 / 3;}
}

@media screen and (min-width: 1200px) {
  .banner {
    height: 450px;
    h1{
      font-size: 2.5em;
      max-width: 450px;
    }
    img {
      width: 500px;
      margin-top: -205px;
    }
  }

  .bannercontent{
    h1{
      font-size: 50px;
      max-width: 550px;
    }
  }

  .content {
    max-width: 1200px;
    margin: auto;
  }

  .team {grid-template-columns: repeat(5, 1fr);}

  .person1 {grid-area: 1 / 1 / 2 / 2;}
  .person2 {grid-area: 1 / 2 / 2 / 3;}
  .person3 {grid-area: 1 / 3 / 2 / 4;}
  .person4 {grid-area: 1 / 4 / 2 / 5;}
  .person5 {grid-area: 1 / 5 / 2 / 6;}
  .person6 {grid-area: 2 / 1 / 3 / 2;}
}

@media screen and (min-width: 1400px) {
  .banner {
    height: 500px;
  }
}

@media screen and (min-width: 2500px) {
  .banner {
    height: 550px;
  }
}

@media screen and (min-width: 4000px) {
  .banner {
    height: 625px;
  }
}
@media screen and (max-width: 450px) {
  .bannercontent img {
      width: 220px;
      margin-top: -30px;
  }
}

@media screen and (max-width: 360px) {
  .banner {
    height: 230px;
    h1{
      margin-top: -20px;
      max-width: 175px;
      font-size: 1.5em;
    }
    img {
      width: 158px;
      margin-top: -28px;
    }
  }

  .topnav {
    min-height: 110px;
    .buy {
      position: absolute!important;
      margin-top: 75px!important;
      margin-right: 10px!important;
    }
  }

  .nav {
    a:first-child {
      margin-top: 40px;
    }
  }

  .team {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .person1 {grid-area: 1 / 1 / 2 / 2;}
  .person2 {grid-area: 2 / 1 / 2 / 2;}
  .person3 {grid-area: 3 / 1 / 3 / 2;}

  footer .footer-right {
    display: none!important;
  }

  footer .footer-middel {
    margin-right: -25px;
  }
}

@media screen and (max-width: 270px) {
  .banner {
    img {
      display: none;
    }
  }
  .nav{
    a {
      font-weight: 500;
      font-size: 25px!important;
    }
  }
  footer {
    img {display: none;}
    h4 {display: none;}
    ul {
      margin-top: 95px;
      position: absolute;
    }
    hr{
      margin-top: 145px;
    }
  }
}